/*

--- 01 TYPOGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 
/ 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 COLORS

- Primary: 
#ba9e01

- Tints:
 #f8f5e6
 #d6c567

- Shades:
#826F01
#5d4f01

- Accents:

- Greys:
 #212529
 #444

--- 05 SHADOWS

box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.241);

--- 06 BORDER-RADIUS
border-radius: 10px;

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* "Playfair Display" */
body {
  color: #444;
  font-family: "Crimson Text", serif;
}

.container {
  margin: 0 auto;
  padding: 2rem 2rem;
  max-width: 120rem;
}

/* ********************** */
/* GENERAL REUSABLE COMPONENTS */
/* ********************** */

/* ********************** */
/* HEADING */
/* ********************** */

.subheading {
  color: #826f01;
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

/* ********************** */
/* GRID */
/* ********************** */

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ********************** */
/* CARD */
/* ********************** */

.card {
  display: flex;
  flex-direction: column;
  /* padding: ; */
}

/* ********************** */
/* BUTTON */
/* ********************** */

.btn--general {
  display: inline-block;
  background-color: #ba9e01;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.241);
}

/* ********************** */
/* NAVIGATION */
/* ********************** */

.nav--list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav--link:link,
.nav--link:visited {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.nav--link:hover,
.nav--link:active {
  border-bottom: 1px solid #000;
}
