/* ********************** */
/* HEADER */
/* ********************** */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 1rem 4.8rem;
  font-size: 1.6rem;
  margin: 0 auto 6.4rem auto;
  color: #4a3f00;
}

.brand-name {
  display: inline-block;
  font-size: 3.2rem;
}

/* ********************** */
/* NAVIGATION */
/* ********************** */

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: inherit;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 1px solid #000;
}

/* Mobile navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ********************** */
/* HERO SECTION */
/* ********************** */

.section-hero {
  margin-bottom: 7.4rem;
}

.hero-section-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-title {
  max-width: 80rem;
  color: #a78e01;
  text-align: center;
  font-size: 6.4rem;
  text-transform: uppercase;
}

.hero-img {
  width: 50%;
}

.meet-collection-btn:link,
.meet-collection-btn:visited {
  text-transform: uppercase;
}

.meet-collection-btn:hover,
.meet-collection-btn:active {
  background-color: #f8f5e6;
  color: #ba9e01;

  /* Inside border */
  box-shadow: inset 0 0 0 2px #ba9e01;
}

/* ********************** */
/* SLOGAN SECTION */
/* ********************** */

.section-slogan {
  margin-bottom: 7.4rem;
}

.section-slogan .subheading {
  margin-bottom: 0;
}

.slogan-text-img-box {
  display: grid;
  margin-bottom: 0;
  gap: 1rem;
}

.slogan-text {
  font-size: 3.6rem;
  line-height: 1.5;
}

.slogan-ring-img {
  height: 40rem;
  padding: 0;
}

/* ********************** */
/* FEATURES SECTION*/
/* ********************** */

.section-features {
  background-color: #f8f5e6;
  padding: 4.8rem 9.6rem;
  margin-bottom: 6.4rem;
}

.features-heading {
  color: #826f01;
}

.features-box {
}

.feature-icon {
  height: 3rem;
  width: 3rem;
  color: #ba9e01;
  margin-bottom: 1.6rem;
}

.features-title {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.6;
}

/* ********************** */
/* BEST SELLERS SECTION */
/* ********************** */

.section-best-sellers {
  margin-bottom: 12rem;
}

.section-best-sellers-title {
  color: #ba9e01;
  font-size: 6.4rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.best-sellers-card {
  gap: 6.4rem;
  align-items: center;
  justify-content: center;
}

.best-card:first-child {
  background-image: linear-gradient(
    to bottom right,
    #a78e01,
    #ba9e01,
    #c1a81a,
    #c8b134
  );
  box-shadow: 5px 5px 5px rgba(193, 168, 26, 0.29);
}

.best-card {
  display: flex;
  flex-direction: column;
  background-color: #fefefd;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.164);
  transition: all 0.5s;
}

.best-card:hover {
  transform: translateY(-0.5rem);
}

.best-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Enfasis card */
.best-emphasis-ring-name {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #f8f5e6;
}

.best-card:first-child .best-sellers-list {
  font-weight: 600;
}

.best-emphasis-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #f8f5e6;
}

.best-emphasis-text {
  font-size: 2rem;
  line-height: 1.8;
  color: #f8f5e6;
}

.best-emphasis-tag-price {
  color: #f8f5e6;
  font-size: 3.2rem;
  font-weight: bold;
}

.best-emphasis-btn-buy {
  background-color: #fff;
  color: #ba9e01;
  border: 1px solid #ba9e01;
  border-radius: 10px;
  font-size: 3.2rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.best-emphasis-btn-buy:hover,
.best-emphasis-btn-buy:active {
  cursor: pointer;
  background-color: #f1eccc;
  transition: all 0.3s;
}

/* Normal cards */
.best-text-box {
  padding: 2.2rem;
  margin-bottom: 1.6rem;
}

.best-sellers-list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  list-style: none;
}

.best-list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.best-ring-name {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #000;
}

.best-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #000;
}

.best-text {
  font-size: 2rem;
  line-height: 1.8;
  color: #111;
}

.best-cta-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2rem 2.2rem 2.2rem;
}

.best-tag-price {
  font-size: 3.2rem;
  font-weight: 600;
}

.best-btn-buy {
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  font-size: 3.2rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.best-btn-buy:hover,
.best-btn-buy:active {
  cursor: pointer;
  background-color: #eee;
  transition: all 0.3s;
}

/* ********************** */
/* RING GALLERY SECTION */
/* ********************** */

.section-gallery {
  margin-bottom: 8rem;
}

.ring-gallery-box {
}

.gallery-title {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 6rem;
  color: #ba9e01;
}

.list-ring-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 10rem 4rem 10rem;
  padding: 1.6rem;
  gap: 2rem;
  list-style: none;
  margin-bottom: 0;
  justify-content: center;
}

.gallery-list-item {
  max-width: 40rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-ring-img {
  display: block;
  width: 100%;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.241);
  transition: all 0.3s;
}

.gallery-ring-img:hover {
  transform: scale(1.1);
}

/* ********************** */
/* CTA SECTION */
/* ********************** */

.section-cta {
  text-align: center;
  padding: 0 6.4rem;
  margin-bottom: 12rem;
}

.cta-box {
  background-color: #f8f5e6;
  border-radius: 50px;
  padding: 4rem 0;
}

.cta-title {
  display: inline-block;
  font-size: 4.8rem;
  color: #5d4f01;
  margin-bottom: 3.2rem;
  padding: 0 1rem;
}

.cta-content-box {
  display: flex;
  align-self: center;
  justify-content: center;
}

.cta-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3.2rem;
  grid-column: 1/2;
}

.cta-text-input-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.cta-form label,
.cta-form select,
.cta-form input {
  border-radius: 10px;
  border: none;
  padding: 1rem;
  color: #4a3f00;
  font-weight: bold;
}

.cta-form label,
.cta-form input,
.cta-form select {
  font-size: 1.8rem;
}

.cta-form label {
  text-align: left;
  margin-bottom: 0.5rem;
}

.cta-form select {
  margin-bottom: 2rem;
}

.cta-ring-img {
  width: 100%;
  grid-column: 2/-1;
}

.btn-subscribe {
  font-size: 3.2rem;
  align-self: center;
  border: none;
}

.btn-subscribe:hover,
.btn-subscribe:active {
  cursor: pointer;
  background-color: #f8f5e6;
  color: #ba9e01;

  /* Inside border */
  box-shadow: inset 0 0 0 2px #ba9e01;
}

/* ********************** */
/* FOOTER */
/* ********************** */

.footer {
  background-color: #eee;
  padding: 12.8rem 2rem;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 3.2rem;
  color: #4a3f00;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
