/* ********************** */
/* HEADER */
/* ********************** */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 0 auto 12rem auto;
}

/* ********************** */
/* NAVIGATION */
/* ********************** */

.main-nav-list {
}

.main-nav-link {
}

/* ********************** */
/* HERO SECTION */
/* ********************** */

.hero-section-box {
  margin-bottom: 15rem;
}

.hero-title {
  max-width: 80rem;
  color: #ba9e01;
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0 auto 10rem auto;
}

.hero-text-img-box {
  display: grid;
  margin-bottom: 0;
  gap: 1rem;
}

.hero-text {
  font-size: 3.6rem;
  line-height: 1.5;
}

.hero-ring-img {
  height: 40rem;
  padding: 0;
}

.meet-collection-btn:link,
.meet-collection-btn:visited {
}

.meet-collection-btn:hover,
.meet-collection-btn:active {
  background-color: #f8f5e6;
  color: #ba9e01;

  /* Inside border */
  box-shadow: inset 0 0 0 2px #ba9e01;
}

/* ********************** */
/* FEATURES SECTION*/
/* ********************** */

.features-box {
  margin-bottom: 12rem;
}

.feature-icon {
  height: 3rem;
  width: 3rem;
  color: #ba9e01;
  margin-bottom: 1.6rem;
}

.features-title {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.6;
  color: #212529;
}

/* ********************** */
/* CONTENT SECTION*/
/* ********************** */

.content-box {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 12rem;
}

.content-text {
  color: #000;
  text-align: left;
  font-size: 3rem;
  line-height: 1.5;
}

.section-ring-img {
  height: 40rem;
}

/* ********************** */
/* RING GALLERY SECTION */
/* ********************** */

.ring-gallery-box {
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.gallery-title {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 6rem;
  color: #ba9e01;
}

.ring-imgs {
  list-style: none;
  margin-bottom: 0;
}

.gallery-ring-img {
  width: 100%;
  border-radius: 10px;
}

/* ********************** */
/* CTA SECTION */
/* ********************** */

.cta-section {
  text-align: center;
  margin-bottom: 12rem;
}

.btn-buy:link,
.btn-buy:visited {
}

.btn-buy:hover,
.btn-buy:active {
  background-color: #f8f5e6;
  color: #ba9e01;

  /* Inside border */
  box-shadow: inset 0 0 0 2px #ba9e01;
}

/* ********************** */
/* FOOTER */
/* ********************** */

footer {
  background-color: #f1f3f5;
  width: 100%;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 3rem;
}

.footer-item:link,
.footer-item:visited {
  text-decoration: none;
  font-size: 1.4rem;
}

.footer-item:hover,
.footer-item:active {
  text-decoration: underline;
  cursor: pointer;
}

.footer-copyright-text {
  font-size: 1rem;
}
