/*
--- 01 TYPOGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 
/ 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.241);

--- 06 BORDER-RADIUS
border-radius: 10px;

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
64 / 80 / 96 / 128

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  // Defines what 1rem is
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  width: 100vw;

  @include respond(bp-medium) {
    font-size: 50%; //1rem = 8px; 8px/16px = 50%
  }

  @include respond(bp-small) {
    font-size: 43.75%; //1rem = 7px; 7px/16px = 43.75%
  }
}

body {
  box-sizing: border-box;
  width: 100vw;
}
