body {
  font-family: 'Crimson Text', serif;
  color: #444;
}

.heading-primary {
  max-width: 80rem;
  color: #a78e01;
  text-align: center;
  font-size: 6.4rem;
  text-transform: uppercase;
}

.heading-secondary {
  color: #ba9e01;
  font-size: 6.4rem;
  text-align: center;
}

.heading-tertiary {
  color: #826f01;
  font-size: 3.2rem;
}

.heading-quartenary {
  color: #c1a81a;
  font-size: 2.4rem;
  padding-top: 1rem;
  margin: 0;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 6rem;
  color: #ba9e01;
}
