/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 
/ 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 
/ 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Instrument Serif */
body {
  color: #000;
  font-family: "Playfair Display", serif;
}

.container {
  width: 960px;
  margin: 10px auto;
}

/* NAVIGATION */
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 60px;
}

.brand-name {
}

nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
  font-weight: bold;
}

/* ARTICLE */
h1 {
  color: #ba9e01;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.main-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  gap: 10px;
}

.main-text {
  color: #000;
  font-size: 36px;
  line-height: 1.5;
  /* font-weight: bold; */
}

.main-ring-img {
  height: 400px;
  padding: 0;
}

.big-text {
  text-align: center;
  font-size: 26px;
}

/* FEATURES */
.features {
  margin-bottom: 40px;
}

.features-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.feature-icon {
  height: 30px;
  width: 30px;
  color: #ba9e01;
  margin-bottom: 16px;
}

.features-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.features-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.5;
  color: #212529;
}

.space {
  margin-top: 500px;
}

/* CONTENT */
.content-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  gap: 10px;
}

.content-text {
  color: #000;
  font-size: 30px;
  line-height: 1.5;
}
