// COLORS
$color-primary: #ba9e01;
$color-primary-light-1: #c8b134;
$color-primary-light-2: #d6c567;
$color-primary-light-3: #f8f5e6;

$color-primary-dark-1: #a78e01;
$color-primary-dark-2: #826f01;
$color-primary-dark-3: #5d4f01;

$color-grey-light-1: #bbb;
$color-grey-light-3: #ddd;
$color-grey-light-2: #ccc;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

// BOX-SHADOW
$primary-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.241);
