// COLORS
$color-primary: #ba9e01;
$color-primary-light-1: #d6c567;
$color-primary-light-2: #f8f5e6;

$color-primary-dark-1: #826f01;
$color-primary-dark-2: #5d4f01;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
