/* ********************** */
/* BEST SELLERS SECTION */
/* ********************** */

.section-best-sellers {
  margin-bottom: 12rem;
}

.best-seller__title {
  color: #ba9e01;
  font-size: 6.4rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.best-seller__cards {
  gap: 6.4rem;
  align-items: center;
  justify-content: center;
}

.best-seller__card:first-child {
  background-image: linear-gradient(
    to bottom right,
    #a78e01,
    #ba9e01,
    #c1a81a,
    #c8b134
  );
  box-shadow: 5px 5px 5px rgba(193, 168, 26, 0.29);
}

.best-seller__card {
  display: flex;
  flex-direction: column;
  background-color: #fefefd;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.164);
  transition: all 0.5s;
}

.best-seller__card:hover {
  transform: translateY(-0.5rem);
}

.best-seller__img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Enfasis card */
.best-seller__heading--highlighted {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #f8f5e6;
}

.best-seller__card:first-child .best-seller__card-list {
  font-weight: 600;
}

.best-seller__icon--highlighted {
  height: 2.4rem;
  width: 2.4rem;
  color: #f8f5e6;
}

.best-seller__text--highlighted {
  font-size: 2rem;
  line-height: 1.8;
  color: #f8f5e6;
}

.best-seller__price--highlighted {
  color: #f8f5e6;
  font-size: 3.2rem;
  font-weight: bold;
}

.best-seller__btn-buy--highlighted {
  background-color: #fff;
  color: #ba9e01;
  border: 1px solid #ba9e01;
  border-radius: 10px;
  font-size: 3.2rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.best-seller__btn-buy--highlighted:hover,
.best-seller__btn-buy--highlighted:active {
  cursor: pointer;
  background-color: #f1eccc;
  transition: all 0.3s;
}

/* Normal cards */
.best-seller__box {
  padding: 2.2rem;
  margin-bottom: 1.6rem;
}

.best-seller__list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  list-style: none;
}

.best-seller__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.best-seller__heading {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #000;
}

.best-seller__icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #000;
}

.best-seller__text {
  font-size: 2rem;
  line-height: 1.8;
  color: #111;
}

.best-seller__cta-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2rem 2.2rem 2.2rem;
}

.best-seller__heading {
  font-size: 3.2rem;
  font-weight: 600;
}

.best-seller__btn-buy {
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  font-size: 3.2rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.best-seller__btn-buy:hover,
.best-seller__btn-buy:active {
  cursor: pointer;
  background-color: #eee;
  transition: all 0.3s;
}
