/* ********************** */
/* HEADER */
/* ********************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 1rem 4.8rem;
  font-size: 1.6rem;
  margin: 0 auto 5.2rem auto;
  color: #4a3f00;
}

.header__brand-name {
  display: inline-block;
  font-size: 3.2rem;
}

/* ********************** */
/* NAVIGATION */
/* ********************** */

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.header__nav-link,
.header__nav-link:visited {
  color: inherit;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.header__nav-link:hover,
.header__nav-link:active {
  border-bottom: 1px solid #000;
}

/* Mobile navigation */
.header__btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.header__icon--mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
