/* ********************** */
/* SLOGANS SECTION */
/* ********************** */

.section-slogan {
  margin-bottom: 7.4rem;
}

.slogan__box {
  display: grid;
  position: relative;
  gap: 1rem;
}

.slogan__heading {
  position: absolute;
  top: 4.8rem;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.slogan__text {
  font-size: 3.6rem;
  line-height: 1.5;
}

.slogan__ring-img {
  height: 40rem;
  padding: 0;
}
