/*
0 - 600px:        Phone
600px - 900px:    Tablet portrait
900px - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :        Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  60% {
    opacity: 0.75;
    transform: translateY(-0.2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInFront {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*
--- 01 TYPOGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 
/ 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.241);

--- 06 BORDER-RADIUS
border-radius: 10px;

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
64 / 80 / 96 / 128

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  width: 100vw; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  width: 100vw; }

body {
  font-family: 'Crimson Text', serif;
  color: #444; }

.heading-primary {
  max-width: 80rem;
  color: #a78e01;
  font-size: 6.4rem;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 4.8rem; } }

.heading-secondary {
  color: #ba9e01;
  font-size: 6.4rem; }

.heading-tertiary {
  color: #826f01;
  font-size: 3.2rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      animation: moveInBottom 1s ease-out 0.25s;
      animation-fill-mode: backwards; } }

.heading-quartenary {
  color: #a78e01;
  font-size: 2.4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn--general {
  display: inline-block;
  background-color: #ba9e01;
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 0.5s; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 35rem));
  justify-content: center;
  align-content: center;
  gap: 6rem; }

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.164);
  transition: all 0.5s;
  /* HIGHLIGHTED CARD */ }
  .card__box {
    padding: 2.2rem;
    margin-bottom: 1.6rem; }
  .card__heading {
    color: #000;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.2rem; }
  .card__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2.2rem; }
  .card__item {
    display: flex;
    gap: 1rem;
    align-items: center; }
  .card__icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #000; }
  .card__text {
    font-size: 2rem;
    line-height: 1.8;
    color: #111; }
  .card__cta-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    color: #000; }
  .card__price {
    font-size: 3.2rem;
    font-weight: 600;
    color: inherit; }
  .card__btn-buy {
    background-color: #fff;
    color: inherit;
    border: 1px solid #111;
    border-radius: 10px;
    font-size: 3.2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s; }
  .card__btn-buy:hover, .card__btn-buy:active {
    cursor: pointer;
    background-color: #ddd; }
  .card__img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.15); }
  .card--highlighted {
    background-image: linear-gradient(to bottom right, #a78e01, #c8b134);
    box-shadow: 0 15px 20px rgba(186, 158, 1, 0.29); }
    .card--highlighted:hover {
      box-shadow: 0 15px 20px rgba(186, 158, 1, 0.3); }
  .card__heading--highlighted, .card__icon--highlighted, .card__text--highlighted, .card__price--highlighted {
    color: #fff; }
  .card__btn-buy--highlighted {
    background-color: #fff;
    color: #ba9e01;
    border: 1px solid #ba9e01;
    border-radius: 10px;
    transition: all 0.3s; }
  .card__btn-buy--highlighted:hover, .card__btn-buy--highlighted:active {
    background-color: #eae2b3; }

.features__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 3rem; }

.features__icon {
  height: 3rem;
  width: 3rem;
  color: #ba9e01;
  margin-bottom: 1.6rem; }

.features__title {
  font-size: 2.2rem;
  margin-bottom: 1.5rem; }

.features__text {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.6px; }

.form__box {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  justify-items: center;
  justify-content: center;
  background-color: #eae2b3;
  border-radius: 20px;
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .form__box {
      max-width: 100rem;
      grid-template-columns: 1.5fr 1fr; } }
  @media only screen and (max-width: 56.25em) {
    .form__box {
      max-width: 60rem;
      grid-template-columns: 1fr;
      text-align: center;
      align-items: center;
      align-content: center;
      background-image: url("../../images/cta-ring-img-min.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.8);
      background-blend-mode: darken;
      background-position: center;
      height: 100%; } }

.form {
  padding: 4.2rem 6.4rem 3.2rem 6.4rem; }
  @media only screen and (max-width: 75em) {
    .form {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      padding: 4.2rem 3rem 3.2rem 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      padding: 2rem 3rem 3.2rem 3rem; } }
  .form__title {
    font-size: 4.8rem;
    color: #826f01;
    margin-bottom: 2rem; }
  .form__content-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
    gap: 2rem; }
    @media only screen and (max-width: 75em) {
      .form__content-box {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 50rem));
        gap: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__content-box {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem)); } }
  .form__text-input-box {
    display: flex;
    flex-direction: column; }
    .form__text-input-box label,
    .form__text-input-box select,
    .form__text-input-box input {
      border: none;
      border-radius: 10px;
      padding: 1rem;
      color: inherit;
      font-weight: bold;
      font-size: 2rem; }
      @media only screen and (max-width: 75em) {
        .form__text-input-box label,
        .form__text-input-box select,
        .form__text-input-box input {
          font-size: 2.6rem; } }
      @media only screen and (max-width: 37.5em) {
        .form__text-input-box label,
        .form__text-input-box select,
        .form__text-input-box input {
          font-size: 3.2rem; } }
    .form__text-input-box label {
      text-align: left; }
      @media only screen and (max-width: 56.25em) {
        .form__text-input-box label {
          color: #c8b134; } }
  .form__cta-btn {
    font-size: 2rem;
    padding: 1rem 3.2rem;
    align-self: flex-end;
    border: none;
    text-transform: uppercase; }
    .form__cta-btn:hover, .form__cta-btn:active {
      cursor: pointer;
      background-color: #f8f5e6;
      color: #ba9e01;
      /* Inside border */
      box-shadow: inset 0 0 0 2px #ba9e01; }
    @media only screen and (max-width: 75em) {
      .form__cta-btn {
        font-size: 2.6rem; } }

.cta__ring-img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }
  @media only screen and (max-width: 56.25em) {
    .cta__ring-img {
      display: none;
      height: auto;
      backdrop-filter: brightness(50%); } }

.hero__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero__box > * {
    animation: moveInBottom 1s ease-out 0.25s;
    animation-fill-mode: backwards; }

.hero__img {
  width: 40%; }
  @media only screen and (max-width: 37.5em) {
    .hero__img {
      width: 60%; } }

.hero__btn:link, .hero__btn:visited {
  text-transform: uppercase;
  z-index: 1; }

.hero__btn:hover, .hero__btn:active {
  background-color: #f8f5e6;
  color: #ba9e01;
  /* Inside border */
  box-shadow: inset 0 0 0 2px #ba9e01; }

.highlights__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(53.5rem, 1fr));
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: -4rem;
  z-index: -1; }
  @media only screen and (max-width: 75em) {
    .highlights__box {
      margin-top: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .highlights__box {
      animation: moveInBottom 1s ease-out 0.25s;
      animation-fill-mode: backwards; } }

.highlights__text {
  font-size: 3.6rem;
  line-height: 1.5; }

.highlights__ring-img {
  width: 60%;
  padding: 0; }
  @media only screen and (max-width: 75em) {
    .highlights__ring-img.inverted {
      grid-row: 4 / 5; } }
  @media only screen and (max-width: 75em) {
    .highlights__ring-img {
      width: 40%; } }

/* DOWN ARROW */
.arrow {
  color: #ba9e01;
  height: 32px;
  width: 32px; }

.modal {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 0 3.2rem;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  align-items: center;
  /* Animation needs to be fixed
  animation: moveInFront 0.75s ease-in;
  animation-fill-mode: backwards;
  transform-origin: center;
  */
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.241);
  border-radius: 20px; }
  .modal__btn-close {
    grid-row: 1 / 2;
    font-size: 4.6rem;
    align-self: flex-end;
    justify-self: end;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: -1.5rem; }
  .modal__logo {
    display: inline-block;
    justify-self: start;
    grid-row: 1 / 2;
    font-size: 2.2rem; }
  .modal__text {
    font-size: 7.2rem;
    padding: 4.2rem 0 7.2rem 0;
    text-align: center;
    color: #ba9e01; }
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.477);
    backdrop-filter: blur(10px); }

.hidden {
  display: none; }

.slider {
  position: relative;
  max-width: 50rem;
  height: 50rem;
  margin: 0 auto; }
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: none;
    font-family: inherit;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer; }
  .slider__btn--left {
    left: 2vw;
    transform: translate(-50%, -50%); }
  .slider__btn--right {
    right: 2vw;
    transform: translate(50%, -50%); }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s; }

.current {
  transform: scale(1.3);
  transition: all 1s; }

.gallery__ring-img {
  object-fit: cover;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  transition: all 1s; }

.gallery__ring-img:hover:not(.current) {
  cursor: pointer; }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }
  .dots__dot:last-child {
    margin: 0; }
  .dots__dot--active {
    background-color: #888;
    opacity: 1; }

.footer {
  background-color: #eee;
  padding: 3rem 4rem 8rem 4rem;
  border-top: 1px solid #eee; }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 18rem));
    gap: 4.2rem;
    justify-content: center;
    list-style: none;
    text-align: center; }
  .footer__item {
    transition: 0.2s all; }
    .footer__item:hover {
      transform: scale(1.1);
      color: #ba9e01; }
  .footer__link {
    font-size: 2rem;
    color: #333;
    text-decoration: none;
    color: inherit; }
  .footer__copyright {
    font-size: 1.2rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 1rem 4.8rem;
  font-size: 1.6rem;
  margin: 0 auto 5.2rem auto;
  color: #4a3f00;
  /* ********************** */
  /* NAVIGATION */
  /* ********************** */
  /* Mobile navigation */ }
  .header__brand-name {
    display: inline-block;
    font-size: 3.2rem; }
  .header__nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-list {
        /* Mobile navigation */
        z-index: 999;
        flex-direction: column;
        background-color: #f8f5e6;
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        gap: 6.4rem;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* 1) Hide it visually */
        opacity: 0;
        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
        /* 3) Hide it from screen readers */
        visibility: hidden; } }
  .header__nav-link, .header__nav-link:visited {
    color: inherit;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    transition: all 0.3s; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-link, .header__nav-link:visited {
        font-size: 4.2rem; } }
  .header__nav-link:hover, .header__nav-link:active {
    border-bottom: 1px solid #000; }
  .header__btn-mobile-nav {
    display: none;
    border: none;
    background: none;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .header__btn-mobile-nav {
        /* Mobile navigation */
        display: block;
        z-index: 9999; } }
  .header__icon--mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333; }

.nav-open .header__nav-list {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0); }

.nav-open .header__icon-mobile-nav .open-menu-btn {
  display: block; }

.section-highlights {
  margin-bottom: 7.4rem;
  padding: 0 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    .section-highlights {
      padding: 0 2.2rem; } }

.section-features {
  background-color: #f8f5e6;
  padding: 4.8rem 9.6rem;
  margin-bottom: 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 3.2rem 2.2rem; } }

.section-best-sellers {
  margin-bottom: 12rem; }

.section-gallery {
  margin-bottom: 12rem; }

.section-cta {
  margin: 0 auto;
  margin-bottom: 12rem; }
