.btn--general {
  display: inline-block;
  background-color: #ba9e01;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.241);
}
