.btn--general {
  display: inline-block;
  background-color: $color-primary;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  $primary-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.241);
}
