.cards__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 35rem));
  justify-content: center;
  justify-items: center;
  gap: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.164);
  transition: all 0.5s;

  &__box {
    padding: 2.2rem;
    margin-bottom: 1.6rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2.2rem;
  }

  &__item {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3.2rem;
    color: #000;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #000;
  }

  &__text {
    font-size: 2rem;
    line-height: 1.8;
    color: #111;
  }

  &__cta-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.2rem 2.2rem 2.2rem;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__btn-buy {
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
    border-radius: 10px;
    font-size: 3.2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
  }

  &__btn-buy:hover,
  &__btn-buy:active {
    cursor: pointer;
    background-color: $color-grey-light-3;
    transition: all 0.3s;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.164);
  }

  /* HIGHLIGHTED CARD */
  &--highlighted {
    background-image: linear-gradient(
      to bottom right,
      $color-primary-dark-1,
      $color-primary-light-1
    );
    box-shadow: 0 10px 10px rgba($color-primary, 0.29);

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 15px 20px rgba($color-primary, 0.29);
    }
  }

  &__heading--highlighted,
  &__icon--highlighted,
  &__text--highlighted,
  &__price--highlighted {
    color: $color-primary-light-3;
  }

  &__heading--highlighted {
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3.2rem;
  }

  &__icon--highlighted {
    height: 2.4rem;
    width: 2.4rem;
  }

  &__text--highlighted {
    font-size: 2rem;
    line-height: 1.8;
  }

  &__price--highlighted {
    font-size: 3.2rem;
    font-weight: bold;
  }

  &__btn-buy--highlighted {
    background-color: #fff;
    color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 10px;
    font-size: 3.2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__btn-buy--highlighted:hover,
  &__btn-buy--highlighted:active {
    cursor: pointer;
    background-color: $color-primary-light-3;
    transition: all 0.3s;
  }
}
