.features {
  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    color: #ba9e01;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 1.6px;
  }
}
