.cta__box {
  margin-top: 3.6rem;
}

.cta__text-img-box {
  display: grid;
  grid-template-columns: 3.5fr 1.5fr;
  background-color: #eae2b3;
  border-radius: 20px;
  gap: 0;
}

.cta__content-box {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 4.8rem;
}

.cta__subtitle {
  display: inline-block;
  text-align: left;
  font-size: 4.8rem;
  color: #826f01;
  grid-column: 1/-1;
  padding: 0 0 1.6rem 0;
}

.cta__text-input-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form label,
.form select,
.form input {
  border-radius: 10px;
  border: none;
  padding: 1rem;
  color: #4a3f00;
  font-weight: bold;
  font-size: 2rem;
}

.form label {
  text-align: left;
}

.cta__ring-img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-subscribe {
  font-size: 2rem;
  padding: 1rem 3.2rem;
  align-self: flex-end;
  border: none;
  text-transform: uppercase;
}

.btn-subscribe:hover,
.btn-subscribe:active {
  cursor: pointer;
  background-color: #f8f5e6;
  color: #ba9e01;

  /* Inside border */
  box-shadow: inset 0 0 0 2px #ba9e01;
}
