.hero {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
      animation: moveInBottom 1s ease-out 0.25s;
      animation-fill-mode: backwards;
    }
  }

  &__img {
    width: 40%;

    @include respond(bp-small) {
      width: 60%;
    }
  }

  &__btn:link,
  &__btn:visited {
    text-transform: uppercase;
    z-index: 1;
  }

  &__btn:hover,
  &__btn:active {
    background-color: $color-primary-light-4;
    color: $color-primary;

    /* Inside border */
    box-shadow: inset 0 0 0 2px $color-primary;
  }
}
